Google_APIKey=""
VITE_FORMSPREE_ID=""

# WordPress GraphQL endpoint
# Prod:  https://your-wp-site.com/graphql
# Local: http://localhost:8080/graphql
VITE_WP_GRAPHQL_URL=https://your-wp-site.com/graphql
